[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "modelplotr"]
	path = modelplotr
	url = https://github.com/jurrr/modelplotr
	shallow = true
	registered = true
